/*<----------------------------------HTML,Body------------------------------->*/
html{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	min-width:300px;
	max-width: 100%;
}
html,body{
	min-height: 100%;
}
body{
	font-family: sans-serif;
	background-image: url('back.png');
	background: linear-gradient(to bottom, #ffffffff, #AFD3E8 100%);
}
/*<----------------------------------Header------------------------------->*/
header{
	background: #0b3c5d;
	color: #ffffffff;
	padding: 10px;
	width: 50%;
	position: relative;
	top: -20px;
	overflow: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-attachment: fixed;
}
header h3{
	margin: 30px 10px auto;
	font-size: 1vw;
	float: right;
	text-align: center;
}
header img{
	margin: 10px 20px 0 5px;
	padding-right: 10px;
	height: auto;
	max-width: 100%;
}
header,section,footer{
	width: 75%;
	margin: 0 auto;
}
/*<----------------------------------DIVs------------------------------->*/
div {
	margin: 10px;
	border-radius: 10px;
}
/*<----------------------------------Text------------------------------->*/
h3{
	margin: auto;
	vertical-align: center;
	font-family: sans-serif;
}
p{
	max-width: 80%;
	text-align: center;
	margin: auto;
	font-size: 1.5vw;
	line-height: 1.5em;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
/*<----------------------------------SECTION------------------------------->*/
section{
	line-height: 1.5em;
	font-size: 0.9em;
	background-color: #328cc1;
	height: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}
section h1{
	font-size: 3vw;
	font-family: sans-serif;
	line-height: 1.5em;
}
/*left is the top, and right is bottom*/
section #top h1, section #center h1{
	margin-top: 0;
}
section #center ul{
	background-color: #1d2731;
	color: white;
	padding: 0;
	overflow: hidden;
	display: block; 
	width: auto;
	margin: auto;
	font-size: 1vw;
}
section #center ul li{
	background-color: #1d2731;
	display: block;
	width: auto;
	padding: 10px;

}
section #center ul li:hover{
	background-color: #d9b310;
	cursor: pointer;
}
section #bottom1 ul{
	background-color: #1d2731;
	color: white;
	padding: 0;
	overflow: hidden;
	display: block; 
	width: auto;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
section #bottom1 ul li{
	display: block;
	width: auto;
	padding: 20px;
	text-align: center;
	font-size: 1vw;
	height: 100%;
}
section #bottom1 ul li:hover{
	background-color: #d9b310;
	cursor: pointer;
}
/*<----------------------------------Foots------------------------------->*/
footer{
	background-color: #1d2731;
	color: #d9b310;
	padding: 10px;
	font-size: 0.6em;
	position: relative;
	bottom: -10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/*<----------------------------------Others------------------------------->*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
/*<----------------------------------Ids------------------------------->*/
#top, #center, #bottom1 {
    width: 75%;
    background-color: #d9b310;
    color: #0b3c5d;
    padding: 20px;
    text-align: center;
    float: center;
    margin: 10px auto;
}
#top{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
#center{
	border-radius: 0;
}
#bottom1{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
/*<----------------------------------Nav------------------------------->*/
/* NAV
#nav{
	width: 75%;
	list-style: none;
	margin: 10px auto;
	background-color: #1d2731;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}
#nav a li{
	
	text-align: center;
	margin-top: 10px;
	margin: auto;
	padding: 5px 20px 5px 20px;
	color: white;
	border-radius: 10px;
	background-color: #1d2731;
	border: 2px dashed #d9b310;
	display:inline-block;
}
#nav a {
	margin-top: 10px;
	text-align:center;
	text-decoration:none; 
}
#nav li:hover{
	background-color: #328cc1;
	cursor: pointer;
}
*/
/*<------------------------------------------------------------------------------>*/

@media screen and (min-width: 240px) and (max-width: 1024px) {
    p, header h3{
		font-size: 15px;
	}	
	section h1{
		font-size: 25px;
	}
	section #bottom1 ul li, section #center ul li{
		font-size: 15px;
		padding: 20px;
	}
}
/*<------------------------------------------------------------------------------>*/